.nav{
    position: fixed;
    bottom:0;
    width:100%;
    background-color: #f9f9fa;
    padding:15px 40px;
    box-sizing: border-box; /*padding을 주더라도 box size를 늘리지 않는다.*/
    border-top : 1px solid rgba(121,121,121,0.3);
}
.nav__ul {
    display: flex;
    justify-content: space-between;
}
.nav__link {
    color:#2F363E;
    position: relative;
}
@keyframes notifyAnimation {
    0% {
        transform: none;
    }
    50% {
        transform: translateY(-5px) rotateY(180deg);
    }
    100% {
        transform: none;
    }
}
.nav__notification {

    position:absolute;
    left:18px;
    bottom:15px;
    animation: notifyAnimation 2s ease-in-out infinite;
}   
.nav__notification2 {
    background-color: tomato;
    width:6px;
    height: 6px;
    border-radius:3px;
    display: block;
    position: absolute;
    left:27px;
}
@keyframes appear {
    from {
        
        opacity: 0;

    }
    to {
        opacity: 1;
        transform: none;
    }
}

.nav__ul {
    opacity: 0;
    transform: translateY(50px);
    animation: appear 0.3s ease-in-out forwards;
}
.nav__li:nth-child(2) {
    animation-delay: 0.5s;
}
.nav__li:nth-child(3) {
    animation-delay: 1s;
}
.nav__li:last-child {
    animation-delay: 1.5s;
}